@font-face {
  font-family: 'VCR';
  src: url('/src/fonts/VCR_MONO.ttf') format('truetype');
}

*, *::before, *::after {
  margin: 0px;
  padding: 0px;
  font-family: 'VCR', monospace;
  color: #fff;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  background-image: url('/src/imgs/cafe-background.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/* Navbar */
.navbar ul {
  height: 5vh;

  background-color: hsl(0, 0%, 0%, .5);

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar li {
  padding: 10px 10px;

  color: white;
  font-size: 24px;
  list-style-type: none;
}

.navbar li:hover {
  background-color: grey;
  border-radius: 12px;
}

/* Content */
#content>section {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

/* Footer */
.footer {
  width: 100vw;
  padding: 20px 20px;

  position: fixed;
  bottom: 0;
  left: 0;

  text-align: center;

  background-color: hsl(0, 0%, 0%, .5);

  z-index: 10;
}
